/* CUSTOM CSS FOR LCP */

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}

header {
	padding: 10px;
}

div.logo {
	width: 300px;
}

#logo-nav {
	width: 300px;
}

.social {
	font-size: 2em;
}

.btn {
	background-color: #73CFE8;
	color: #FFFFFF;
}

.hlinks {
	float: right;
}

.hlinks ul li {
	padding-top: 20px;
	margin-right: 10px;
	display: inline;
	float: left;
	text-decoration: none;
}

.navbar {
	background-color: #73CFE8;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

#hero {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 400px;
	background-image: url('/img/lcp_background.jpg');
}

#hero-message {
	padding: 50px;
}

#marketing-points {
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer {
	background-color: #73CFE8;
	height: 200px;
	padding-top: 10px;
}

#footer ul {
	list-style-type: none;
	padding: 0px;
}

#footer ul li {
	padding-top: 10px;
	margin-right: 30px;
	display: inline;
	float: left;
	text-decoration: none;
}

#footer ul li a {
	color: #FFFFFF;
	font-size: 2em;
}
