/* CUSTOM CSS FOR LCP WEB APP*/

@font-face
{
font-family: Roboto;
src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

/* GLOBALS */

body, html, #wrapper {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #63666A;
	min-height: 100%;
}

#wrapper {
	overflow-y: auto;
	padding-bottom: 20px;
}

h1, h2, h3, h4 {
	font-family: Roboto, sans-serif;
}

.blue-text {
	color: #73CFE8;
}

.status-icon {
	font-size: 3em;
	padding-top: 10px;
}

.btn {
	background-color: #73CFE8;
	color: #FFFFFF;
}

.btn-danger {
	background-color: #FF0000;
	color: #FFFFFF;	
}

/* INPUT ERROR MESSAGE */
.help-block {
	color: #FF0000;
}

/* ACCESS DENIED PAGE */
.fa-ban {
	color: #FF0000;
}

/* HEADER */

header {
	padding: 10px;
}

div.logo {
	width: 300px;
}

#logo-nav {
	width: 300px;
}

/* MASTER NAV */

.hlinks {
	float: right;
}

.hlinks ul li {
	padding-top: 20px;
	text-decoration: none;
}

.navbar {
	background-color: #73CFE8;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

/* HOME PAGE */

#hero {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 400px;
	background-image: url('/img/lcp_background.jpg');
}

#hero-message {
	padding: 50px;
}

#marketing-points {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ADMIN DASHBOARD */

#wrapper-admin {
	padding-bottom: 0em;
	overflow-y: auto;
	width: 100%;
	min-height: 100%;
}

/*#header-admin {
	background-color: #73CFE8;
}*/

#sidebar-nav {
	width: 15em;
	min-height: 100%;
	overflow-y: auto;
	float: left;
	padding-bottom: 100%;
	padding-top: 20px;
	margin-bottom: 0em;
	margin-right: 20px;
	background-color: #73CFE8;
}

#dashboard-menu li {
	list-style: none;
	clear: left;
	width: 180px;
	border-bottom: 1px solid #dae1e8;
}

#dashboard-menu li>a {
	color: #FFFFFF;
}

.status-icon-sm {
	font-size: 2em;
}

/* FOOTER */
#footer {
	height: 180px;
	width: 100%;
	bottom: 0;
	clear: both;
	background-color: #73CFE8;
}

#footer ul {
	list-style-type: none;
	padding: 0px;
	padding-top: 10px;
	text-decoration: none;
}

#footer ul li a {
	color: #FFFFFF;
	font-size: 2em;
}

.social {
	font-size: 2em;
}
